.chart {
    flex: 4;
    border-radius: 10px;
    color: gray;
    padding: 10px;

    .title {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
    }

    .chartGrid {
        stroke: rgb(234, 231, 231);
    }

}