.featured {
    flex: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    border-radius: 10px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;

        .title {
            font-size: 16px;
            font-weight: 500;
        }
    }

    .bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;

        .featuredChart {
            width: 100px;
            height: 100px;
        }

        .title {
            font-weight: 500;
            color: gray;
        }
        
        .amount {
            font-size: 30px;
        }

        .desc {
            font-weight: 300;
            font-size: 12px;
            color: gray;
            text-align: center;
        }

        .summary {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .item {
                text-align: center;

                .itemTitle {
                    color: gray;
                    font-size: 14px;
                }

                .itemResult {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;

                    &.positive {
                        color: green;
                    }

                    &.negative {
                        color: red;
                    }
                }
            }
        }
    }
}